.section {
    width:80vw;
    margin: 0 auto;
    display:flex;
}

.textContainer {
    width:50%;
    padding-top:150px;
}
.button {
    width:175px;
    height:50px;
    margin:20px 20px 3px 0px;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-size: 1.5rem;
    border-radius: 10px;
    transition: all 0.3s;
}

.buttonInvert {
    width:175px;
    height:50px;
    margin:20px 20px 3px 0px;
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    color: var(--color-grey);
    font-size: 1.5rem;
    border-radius: 10px;
    transition: all 0.3s ;
}

.button:hover {
    background-color: var(--color-primary);
    color: var(--color-grey);
    cursor:pointer;
    box-shadow: 2px 2px 5px #888888;
    opacity:75%;
}
.buttonInvert:hover {
    background-color:rgb(65, 18, 111);
    color: var(--color-grey);
    cursor:pointer;
    box-shadow: 2px 2px 5px #888888;
    opacity:75%;

}

.mainHeader {
    font-size:4.3rem;
}

.p {
    font-size:1.1rem;
    font-family:'Times New Roman', Times, serif
}