.main {
    min-height: calc(100vh - 60px);
    height:2000px;
    margin-top:60px;
    background-color:white;
    /* background-image: linear-gradient(to top, var(--color-secondary),10%,transparent,white); */
}   